
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <link rel="stylesheet" href="~/Content/stylepro.css" />
    <br />
    <h2 style="text-align: center ">Danh sách sản phẩm</h2>
    <br />
    <div id="div-pro-list">
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>

            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">

            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
        <div class="box-pro">
            <img class="size-img" src="~/images/image-mau.png" />
            <div class="box-description">
                <h6> Mã SP: F01</h6>
                <h6> Tên SP: Hoa Mẫu</h6>
                <h6> Giá: 200.000</h6>
            </div>
        </div>
    </div>
</body>
</html>

